name: CI
on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:

    test:

        name: 'PHPUnit with PHP ${{ matrix.php-version }}'
        runs-on: ubuntu-latest

        strategy:
            fail-fast: true
            matrix:
                include:
                    - php-version: '8.1'
                    - php-version: '8.2'
                    - php-version: '8.3'
                    - php-version: '8.4'
                    - php-version: '8.5'

        steps:
            -
                name: Checkout
                uses: actions/checkout@v6

            -
                name: 'Set up PHP'
                uses: 'shivammathur/setup-php@v2'
                with:
                    php-version: '${{ matrix.php-version }}'

            -
                name: 'Install dependencies'
                run: |
                    COMPOSER_HOME="$(composer config home)"
                    ([ -d "$COMPOSER_HOME" ] || mkdir "$COMPOSER_HOME") && cp .github/composer-config.json "$COMPOSER_HOME/config.json"
                    
                    composer update --no-progress --no-interaction --optimize-autoloader

            -
                name: Run Unit Tests
                run: vendor/bin/phpunit

            -
                name: Run Smoke Tests
                run: smoketest/smoke-tests.sh
